<!-- /views/buah.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Data Buah</title>
</head>
<body>
  <h1>Data Buah</h1>
  <ul>
    <% buahs.forEach(buah => { %>
      <li>
        <strong><%= buah.name %></strong> - <%= buah.warna %> - Rp<%= buah.price %> - Stok: <%= buah.stock %>
      </li>
    <% }) %>
  </ul>
</body>
</html>
